<div style="align-items: center;">
    <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
          <input type="text" [(ngModel)]="loginFm.email" #email="ngModel"  name="email"  id="form2Example1" class="form-control" required />
          <span [hidden]="email.valid">
            please enter email
          </span>
        </div>
        
      
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
          <input type="password" name="password" [(ngModel)]="loginFm.password" id="form2Example2" class="form-control" required />
          
        </div>
      
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <button type="submit" (click)="loginForm.reset()" class="btn btn-primary btn-block mb-4">Reset</button>
      
      </form>
</div>

